---
unlisted: true
layout: libdoc/blank
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default:site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta itemprop="name" content="{{ page.title | default: site.title }}">
    <meta name="description" itemprop="description" content="{{ page.description | default: site.description }}">
    <meta name="application-name" content="{{ page.title | default: site.title }}">
    <meta name="author" content="{{ site.metadata.author }}">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="https://i.imgur.com/TteGzSN.png">

    <meta name="msapplication-TileColor" content="{{ site.metadata.color | default: '#ffffff' }}">
    <meta name="theme-color" content="{{ page.metadata.color | default: site.metadata.color | default: '#FFFFFF' }}">

    <!-- Microsoft -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-tooltip" content="{{ page.title | default: site.title }}">
    <meta name="msapplication-TileColor" content="{{ page.metadata.color | default: site.metadata.color | default: '#FFFFFF' }}">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="https://i.imgur.com/V8yndCM.png">
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title | default: site.title }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description }}">
    <meta name="twitter:image" content="https://i.imgur.com/V8yndCM.png">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="{{ page.title | default: site.title }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ page.metadata.color | default: site.metadata.color | default: '#FFFFFF' }}">

    <!-- Android -->
    <meta name="theme-color" content="{{ page.metadata.color | default: site.metadata.color | default: '#FFFFFF' }}">
    <meta name="color-scheme" content="light">
    <meta name="mobile-web-app-capable" content="yes">

    {% include _leaflet.css.html %}
    {% include _leaflet-gesture-handling.css.html %}
    {% include _leaflet-marker-cluster.css.html %}
    {% include _leaflet-routing-machine.css.html %}
    {% include _leaflet-overrides.css.html %}
    {% include _leaflet-autocomplete.css.html %}
    {% include _seemap-style.css.html %}
</head>

<body>
    <!-- Map container -->
    <div id="mapid"></div>
    {% include _leaflet.js.html %}
    {% include _leaflet-gesture-handling.js.html %}
    {% include _leaflet-marker-cluster.js.html %}
    {% include _leaflet-routing-machine.js.html %}
    {% include _leaflet-autocomplete.js.html %}
    {% include _seemap-user-settings.js.html %}
    {% include _seemap.js.html %}
</body>

</html>